---
http_interactions:
- request:
    method: get
    uri: https://data.btcchina.com/data/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"ticker":{"high":"5354.99","low":"4501.00","buy":"4906.37","sell":"4920.02","last":"4880.09","vol":"30105.87100000"}}'
  recorded_at: Wed, 08 Jan 2014 09:10:13 GMT
recorded_with: VCR 2.8.0
